<mat-toolbar class="top-bar" color="primary">
  <img src="assets/logo.svg" width="40PX" />
  <span style="color: white">Taggit</span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="project"
    color="foreground"
    class="project-menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #project="matMenu">
    <span
      mat-menu-item
      *ngIf="selectedProject"
      (click)="openProjectModal(selectedProject)"
    >
      Current Gallery/Map : {{ selectedProject.name }}
    </span>
    <button mat-menu-item (click)="openCreateProjectModal()">
      Create Gallery/Map
    </button>
    <button mat-menu-item [matMenuTriggerFor]="projectList">
      Select Gallery/Map
    </button>
    <button mat-menu-item (click)="openFilePicker(test)">Import images from DesignSafe</button>
    <button mat-menu-item [matMenuTriggerFor]="saveOptions">Export Tags/Groups</button>
  </mat-menu>

  <mat-menu #projectList="matMenu">
    <button
      mat-menu-item
      class="clickable"
      *ngFor="let p of projects"
      (click)="selectProject(p)"
      [ngClass]="{ 'active-project': p === selectedProject }"
    >
      {{ p.name }}
    </button>
  </mat-menu>

  <mat-menu #saveOptions="matMenu">
    <button mat-menu-item (click)="saveFile(0)">CSV file</button>
    <button mat-menu-item (click)="saveFile(1)">JSON file</button>
    <button mat-menu-item (click)="openDownloadSelector()">
      Export to DesignSafe
    </button>
  </mat-menu>

  <span class="example-spacer"></span>

  <div *ngIf="showTagger" class="path-buttons">
    <div class="slides" style="line-height: 1; font-size: 12px">
      {{ getAssetDisplay() }}
      <div class="lr-buttons" style="margin-top: 5px">
        <i
          (click)="otherPath(false)"
          style="margin-right: 10px; cursor: pointer"
          class="fas fa-angle-left"
        ></i>
        <i
          (click)="otherPath(true)"
          style="margin-left: 10px; cursor: pointer"
          class="fas fa-angle-right"
        ></i>
      </div>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="group-bar grid-x align-right">
    <button
      mat-raised-button
      class="button-spacing"
      [disabled]="selectedImages.length === 0"
      (click)="clearAll()"
    >
      Clear Selected
    </button>

    <!-- A link that looks like a button, links to Hazmapper-->
    <a
      class="button-spacing"
      mat-raised-button
      href="{{ hazmapperLink }}"
      title="View in HazMapper"
      target="_blank"
    >
      <img src="assets/hazmapper-header-logo.png" width="25PX" />
      <span style="padding-left: 5px; color: #00BBD8">View in HazMapper</span>
    </a>

    <button
      mat-raised-button
      (click)="openAddGroupModal(addToGroupModal)"
      *ngIf="selectedImages.length > 0 && groupsExist && !showTagger"
      class="button-spacing"
    >
      Add To Group
    </button>

    <button
      mat-raised-button
      (click)="openAddGroupModal(addGroupModal)"
      *ngIf="selectedImages.length > 0 && !showTagger"
    >
      Create Group
    </button>

    <ng-template #addGroupModal>
      <mat-form-field>
        <mat-label>Group Name</mat-label>
        <input
          matInput
          placeholder="Group Name"
          (keyup.enter)="addGroup(groupInput.value)"
          #groupInput
        />
      </mat-form-field>

      <div style="color: #ff0000" *ngIf="invalidNameError">Invalid Name!</div>
      <div style="color: #ff0000" *ngIf="existingNameError">Existing Name!</div>
      <br />
      <br />
      <button
        mat-raised-button
        color="primary"
        (click)="addGroup(groupInput.value)"
      >
        Add Group
      </button>
      <button mat-button matDialogClose color="secondary">Cancel</button>
    </ng-template>

    <ng-template #addToGroupModal>
      <mat-form-field appearance="fill">
        <mat-label>Groups</mat-label>
        <mat-select
          matNativeControl
          required
          [value]="groupToAdd"
          [compareWith]="compareGroup"
          (selectionChange)="changeGroupToAdd($event)"
        >
          <mat-option
            *ngFor="let group of groups | keyvalue"
            [value]="group.value"
          >
            {{ group.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <button
          mat-raised-button
          color="primary"
          matDialogClose
          (click)="addToGroup(groupToAdd)"
          [disabled]="!groupToAdd"
        >
          Add To Group
        </button>
        <button mat-button color="secondary" matDialogClose>Cancel</button>
      </p>
    </ng-template>
  </div>

  <button
    *ngIf="showTagger && tagFeaturesQueue.length > 0"
    mat-raised-button
    style="margin-left: 15px"
    (click)="saveTags()"
  >
    <i class="fas fa-save"></i>
    Save Tags
  </button>

  <button
    *ngIf="groupsExist && !showTagger"
    mat-raised-button
    style="margin-left: 15px"
    (click)="toggleTagger()"
  >
    Taggit!
  </button>

  <button
    *ngIf="showTagger"
    mat-raised-button
    style="margin-left: 15px"
    (click)="toggleTagger()"
  >
    Gallery/Map
  </button>
</mat-toolbar>
