<div *ngIf="loaded; else loader" id="loading-load">
  <div *ngIf="projectsExist; else noProjWarn" id="gallery-container">
    <div *ngIf="imagesExist; else noImgWarn" id="gallery-container-container">
      <div [ngClass]="scrollStatus"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="1500"
        (scrolled)="onScroll()"
        class="img-list-container"
        *ngIf="!showTagger; else elseBlock">
        <app-image-box
          *ngFor="let feat of featureListScroll"
          [feature]="feat">
        </app-image-box>
      </div>

      <ngx-spinner
        bdOpacity = 0.9
        bdColor = ""
        size = "default"
        color = "#3ADB76"
        type = "line-scale-pulse-out"
        id = "img-spin"
        [fullScreen] = "false">
      </ngx-spinner>
      <ng-template #elseBlock>
        <div>
          <div class="imager">
            <img class="view-image" [src]="getPath()">
          </div>
        </div>
      </ng-template>
      <div *ngIf="showTagger" class="side-bar-container">
        <app-side-bar></app-side-bar>
      </div>
    </div>
    <ng-template #noImgWarn>
      <div id="no-img">
        No images have been imported!<br>Please import images through the menu.
      </div>
    </ng-template>
  </div>

  <ng-template #noProjWarn>
    <div id="no-proj">
      No project has been created!<br>Please create a project through the menu.
    </div>
  </ng-template>

</div>

<ng-template #loader>
  <div *ngIf="projectsExist; else createProj" id="loader">
    Loading...
  </div>

  <ng-template #createProj> 
    <div id="new-proj" (click)="openCreateProjectModal()">
      Start a new project
    </div>
  </ng-template>

</ng-template>
