<div class="asset-list">
  <div class="subitem-title" (click)="expandPanel()">Image List</div>

  <div *ngIf="showSubitem" class="subitem asset-subitem">
    <div
      *ngFor="let feature of getActiveFeatures()"
      (click)="jumpToImage(feature)"
      class="asset-container"
      [ngClass]="{ highlight: isActiveFeature(feature) }"
    >
      <div class="name-group">
        {{ getFeaturePath(feature) }}
      </div>

      <div class="button-group">
        <div (click)="deleteFeature(feature)">
          <i
            class="fas fa-minus"
            matTooltip="Delete"
            matTooltipPosition="above"
          >
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
