@import '../../../variables.scss';

:host {
  .redirect-message-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    size: 15px;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  .redirect-message {
    text-align: center;
    padding-top: 10px;
  }
}
