<div>
  <div [ngSwitch]="form.type" class="form-controls">
    <ng-container *ngSwitchCase="'text'">
      <app-form-textbox [field]="form.options" [form]="form"></app-form-textbox>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdown'">
      <app-form-dropdown
        [field]="form.options"
        [form]="form"
      ></app-form-dropdown>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <app-form-radio
        [field]="opt"
        [form]="form"
        label="{{ form.label }}"
      ></app-form-radio>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <app-form-checkbox [form]="form"></app-form-checkbox>
    </ng-container>

    <ng-container *ngSwitchCase="'color'">
      <app-form-color
        [field]="opt"
        [form]="form"
        label="{{ form.label }}"
        [color]="colorArray[form.options.indexOf(opt)]"
      ></app-form-color>
    </ng-container>
  </div>
</div>
